<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Plex C-Store</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Thursday</string>
			<key>Schedule</key>
			<dict>
				<key>0700</key>
				<string>Closed</string>
				<key>2400</key>
				<string>Open</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Friday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>0700</key>
				<string>Closed</string>
				<key>2000</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>0700</key>
				<string>Closed</string>
				<key>1900</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>1000</key>
				<string>Closed</string>
				<key>2400</key>
				<string>Open</string>
			</dict>
		</dict>
	</array>
	<key>Fran&apos;s Café at Willard</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>0300</key>
				<string>Open</string>
				<key>0800</key>
				<string>Closed</string>
				<key>2400</key>
				<string>Open</string>
			</dict>
		</dict>
	</array>
	<key>Kresge Café</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Thursday</string>
			<key>Schedule</key>
			<dict>
				<key>0800</key>
				<string>Closed</string>
				<key>1700</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Friday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>0800</key>
				<string>Closed</string>
				<key>1500</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Einstein at Pancoe</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Thursday</string>
			<key>Schedule</key>
			<dict>
				<key>0800</key>
				<string>Closed</string>
				<key>1600</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Friday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>0800</key>
				<string>Closed</string>
				<key>1500</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Café Bergson</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Thursday</string>
			<key>Schedule</key>
			<dict>
				<key>0830</key>
				<string>Closed</string>
				<key>2400</key>
				<string>Open</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Friday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>0830</key>
				<string>Closed</string>
				<key>1500</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>1200</key>
				<string>Closed</string>
				<key>1600</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>1700</key>
				<string>Closed</string>
				<key>2400</key>
				<string>Open</string>
			</dict>
		</dict>
	</array>
	<key>Tech Express</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Thursday</string>
			<key>Schedule</key>
			<dict>
				<key>0730</key>
				<string>Closed</string>
				<key>2130</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Friday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>0730</key>
				<string>Closed</string>
				<key>1500</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Lisa&apos;s Café at Slivka</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>0200</key>
				<string>Open</string>
				<key>1100</key>
				<string>Closed</string>
				<key>2400</key>
				<string>Open</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
