<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Plex West</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>0700</key>
				<string>Closed</string>
				<key>0900</key>
				<string>Breakfast</string>
				<key>1100</key>
				<string>Closed</string>
				<key>1315</key>
				<string>Lunch</string>
				<key>1700</key>
				<string>Closed</string>
				<key>1900</key>
				<string>Dinner</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>0700</key>
				<string>Closed</string>
				<key>0930</key>
				<string>Breakfast</string>
				<key>1100</key>
				<string>Closed</string>
				<key>1315</key>
				<string>Lunch</string>
				<key>1700</key>
				<string>Closed</string>
				<key>1900</key>
				<string>Dinner</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Sargent</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>0700</key>
				<string>Closed</string>
				<key>0900</key>
				<string>Breakfast</string>
				<key>1100</key>
				<string>Closed</string>
				<key>1300</key>
				<string>Lunch</string>
				<key>1700</key>
				<string>Closed</string>
				<key>1900</key>
				<string>Dinner</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Allison</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Elder</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Plex East</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Hinman</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
