<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>StartingDayOfWeek</key>
		<string>Monday</string>
		<key>EndingDayOfWeek</key>
		<string>Saturday</string>
		<key>Schedule</key>
		<dict>
			<key>0300</key>
			<string>Late Night</string>
			<key>0730</key>
			<string>Unavailable</string>
			<key>1046</key>
			<string>Breakfast</string>
			<key>1646</key>
			<string>Lunch</string>
			<key>1931</key>
			<string>Dinner</string>
			<key>2400</key>
			<string>Late Night</string>
		</dict>
	</dict>
	<dict>
		<key>StartingDayOfWeek</key>
		<string>Sunday</string>
		<key>EndingDayOfWeek</key>
		<string>Sunday</string>
		<key>Schedule</key>
		<dict>
			<key>0300</key>
			<string>Late Night</string>
			<key>0800</key>
			<string>Unavailable</string>
			<key>1931</key>
			<string>Dinner</string>
			<key>2400</key>
			<string>Late Night</string>
		</dict>
	</dict>
</array>
</plist>
