<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>International Station</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>1100</key>
				<string>Closed</string>
				<key>1500</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Cat Shack</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Thursday</string>
			<key>Schedule</key>
			<dict>
				<key>1100</key>
				<string>Closed</string>
				<key>1900</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Friday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>1100</key>
				<string>Closed</string>
				<key>1500</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>1200</key>
				<string>Closed</string>
				<key>1500</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Wildcat Den</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>1100</key>
				<string>Closed</string>
				<key>1500</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>The Kiln</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Thursday</string>
			<key>Schedule</key>
			<dict>
				<key>1100</key>
				<string>Closed</string>
				<key>2300</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Friday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>1100</key>
				<string>Closed</string>
				<key>2100</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Sushi</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>1100</key>
				<string>Closed</string>
				<key>1500</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Paws &apos;n&apos; Go C-Store</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Thursday</string>
			<key>Schedule</key>
			<dict>
				<key>0800</key>
				<string>Closed</string>
				<key>2300</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Friday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>0800</key>
				<string>Closed</string>
				<key>2345</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>0900</key>
				<string>Closed</string>
				<key>2345</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>1000</key>
				<string>Closed</string>
				<key>2300</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Subway</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>1100</key>
				<string>Closed</string>
				<key>2100</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Norbucks</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Thursday</string>
			<key>Schedule</key>
			<dict>
				<key>0800</key>
				<string>Closed</string>
				<key>2345</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Friday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>0800</key>
				<string>Closed</string>
				<key>2100</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Saturday</string>
			<key>Schedule</key>
			<dict>
				<key>0900</key>
				<string>Closed</string>
				<key>2100</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Sunday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>1000</key>
				<string>Closed</string>
				<key>2345</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Dunkin&apos; Donuts</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>0800</key>
				<string>Closed</string>
				<key>1600</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
	<key>Frontera Fresco</key>
	<array>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Monday</string>
			<key>EndingDayOfWeek</key>
			<string>Friday</string>
			<key>Schedule</key>
			<dict>
				<key>1100</key>
				<string>Closed</string>
				<key>1500</key>
				<string>Open</string>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
		<dict>
			<key>StartingDayOfWeek</key>
			<string>Saturday</string>
			<key>EndingDayOfWeek</key>
			<string>Sunday</string>
			<key>Schedule</key>
			<dict>
				<key>2400</key>
				<string>Closed</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
