<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdMobAppID</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>AdMobBannerAdUnitID</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AdMobInterstitialAdUnitID</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
</dict>
</plist>
